<div>
    <div class="rnd-row col s12">
        <h5>Round 1</h5>
        <div class="end-btn">
            <button data-id="{{dbBracket.id}}" data-rd="2" class="btn waves-effect waves-light end-rd" type="submit" name="action">End Round</button>
        </div>
    </div>
    <div>
        <div>
            <div class="col s12 pairing">
                <div class="first col s6">
                    <p>{{dbBracket.MatchUps.[0].option1}} | Current Votes: {{dbBracket.MatchUps.[0].option1_votes}}</p>
                    <button id="{{dbBracket.MatchUps.[0].option1}}" class="vote" data-didvote="false" data-rd="1" data-for="{{dbBracket.MatchUps.[0].option1}}" data-not="{{dbBracket.MatchUps.[0].option2}}" data-id="{{dbBracket.id}}">vote</button>
                </div>
                <div class="second col s6">
                    <p>{{dbBracket.MatchUps.[0].option2}} | Current Votes: {{dbBracket.MatchUps.[0].option2_votes}}</p>
                    <button id="{{dbBracket.MatchUps.[0].option2}}" class="vote" data-didvote="false" data-rd="1" data-for="{{dbBracket.MatchUps.[0].option2}}" data-not="{{dbBracket.MatchUps.[0].option1}}" data-id="{{dbBracket.id}}">vote</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="col s12 pairing">
                <div class="first col s6">
                    <p>{{dbBracket.MatchUps.[1].option1}} | Current Votes: {{dbBracket.MatchUps.[1].option1_votes}}</p>
                    <button class="vote" data-didvote="false" data-rd="1" data-for="{{dbBracket.MatchUps.[1].option1}}" data-not="{{dbBracket.MatchUps.[1].option2}}" data-id="{{dbBracket.id}}">vote</button>
                </div>
                <div class="second col s6">
                    <p>{{dbBracket.MatchUps.[1].option2}} | Current Votes: {{dbBracket.MatchUps.[1].option2_votes}}</p>
                    <button class="vote" data-didvote="false" data-rd="1" data-for="{{dbBracket.MatchUps.[1].option2}}" data-not="{{dbBracket.MatchUps.[1].option1}}" data-id="{{dbBracket.id}}">vote</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="col s12 pairing">
                <div class="first col s6">
                    <p>{{dbBracket.MatchUps.[2].option1}} | Current Votes: {{dbBracket.MatchUps.[2].option1_votes}}</p>
                    <button class="vote" data-didvote="false" data-rd="1" data-for="{{dbBracket.MatchUps.[2].option1}}" data-not="{{dbBracket.MatchUps.[2].option2}}" data-id="{{dbBracket.id}}">vote</button>
                </div>
                <div class="second col s6">
                    <p>{{dbBracket.MatchUps.[2].option2}} | Current Votes: {{dbBracket.MatchUps.[2].option2_votes}}</p>
                    <button class="vote" data-didvote="false" data-rd="1" data-for="{{dbBracket.MatchUps.[2].option2}}" data-not="{{dbBracket.MatchUps.[2].option1}}" data-id="{{dbBracket.id}}">vote</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="col s12 pairing">
                <div class="first col s6">
                    <p>{{dbBracket.MatchUps.[3].option1}} | Current Votes: {{dbBracket.MatchUps.[3].option1_votes}}</p>
                    <button class="vote" data-didvote="false" data-rd="1" data-for="{{dbBracket.MatchUps.[3].option1}}" data-not="{{dbBracket.MatchUps.[3].option2}}" data-id="{{dbBracket.id}}">vote</button>
                </div>
                <div class="second col s6">
                    <p>{{dbBracket.MatchUps.[3].option2}} | Current Votes: {{dbBracket.MatchUps.[3].option2_votes}}</p>
                    <button class="vote" data-didvote="false" data-rd="1" data-for="{{dbBracket.MatchUps.[3].option2}}" data-not="{{dbBracket.MatchUps.[3].option1}}" data-id="{{dbBracket.id}}">vote</button>
                </div>
            </div>
        </div>
    </div>